{% extends "base.html"%}
{% block title %} Code: 404 {% endblock %}
{% block body %}
    <div class="row">
        <div class="hoverable home-item col s12 m4 l4">
            <h2 class="center blue-grey-text">Levels</h2>
            <h5 class="center blue-grey-text lighten-3">Browse levels</h5>
            <p class="flow-text">Our levels are user generated and allow others to test out the skills against other's feindish challeneges.</p>

        </div>
        <div class="hoverable home-item col s12 m4 l4">
            <h2 class="center blue-grey-text">Levels</h2>
            <h5 class="center blue-grey-text lighten-3">Browse levels</h5>
            <p class="flow-text">Our levels are user generated and allow others to test out the skills against other's feindish challeneges.</p>
        </div>
    </div>

{% endblock %}