{% extends "base.html"%}
{% block title %} Code: 404 {% endblock %}
{% block body %}
    <div class="row">

        <a href="/levels">

            <div class="hoverable home-item col s12 m4 l4">
                <h2 class="center black-text">Levels</h2>
                <h5 class="center black-text lighten-3">Browse levels</h5>
                <p class="flow-text">Our levels are user generated and allow users to test their skills in other's feindish challeneges.</p>

            </div>

        </a>

        <a href="/download">

            <div class="hoverable home-item col s12 m4 l4">
                <h2 class="center black-text">Download</h2>
                <h5 class="center black-text lighten-3">Windows only</h5>
                <p class="flow-text">Download the current build of the game for Windows!</p>

            </div>

        </a>

        <a href="/signup">

            <div class="hoverable home-item col s12 m4 l4">
                <h2 class="center black-text">Register</h2>
                <h5 class="center black-text lighten-3">For a free account</h5>
                <p class="flow-text">Get you free Code: 404 account now to begin playing and sharing levels online.</p>

            </div>

        </a>

    </div>

{% endblock %}